<body class="bg-light">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">個人資料</a></li>
    <li><a data-toggle="tab" href="#menu1">學習歷程</a></li>
    <li><a data-toggle="tab" href="#menu2">個人作品集</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active "> 
      <div class="container">
        <div class="py-5 text-center">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
          <p class="lead">請依照真實情況填寫個人基本資料。</p>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
          <div class="row">
            <div class="col-md-8 order-md-1">
              <h4 class="mb-3">基本資料</h4>
              <form class="needs-validation" novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="firstName">姓名</label>
                    <%= f.text_field :name, autofocus: true ,:class=>"form-control" , :required => true %>
                    <div class="invalid-feedback">
                      Valid name is required.
                    </div>
                  </div>
                </div>
                <br>
                <div class="mb-3">
                  <%= f.label :intro, "自我介紹" %>
                  <%= f.text_area :intro, class: "form-control" %>
                </div>
                <br>
                <div class="mb-3">
                  <%= f.label :avatar, "大頭照上傳" %>
                  <%= f.file_field :avatar %>
                </div>
                <br> 
                <div class="mb-3">
                  <label for="email">Email</label>
                  <%= f.email_field :email, autofocus: true ,:class=>"form-control", :placeholder=>"you@example.com", :required => true%>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div class="invalid-feedback">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                </div>
                <br>
                <div class="mb-3">
                  <%= f.label :password %><i>(leave blank if you don't want to change it)</i><br />
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", :class=>"form-control",:id =>"password" %>
                </div>
                <br>
                <div class="mb-3">
                  <%= f.label :password_confirmation %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control" %>
                </div>
                <br>
                <div class="mb-3">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control",:id =>"password_repeat" %>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-5 mb-3">
                    <label for="sex">性別</label>
                    <%= f.select :sex,options_for_select([["男生",1],["女生",0],["其他",2]],selected: @user.sex),:class=>"custom-select d-block w-100" %>
                    <div class="invalid-feedback">
                      Please select a valid sex.
                    </div>
                  </div>
                  <div class="col-md-5 mb-3">
                    <label for="birthday">生日</label>
                    <%= f.text_field :birthday, autofocus: true ,:class=>"form-control datepicker" , :required => true ,:data => {:provide => "datepicker"}%>
                    <!-- <input type="text" data-provide='datepicker' class="form-control" required> -->
                    <div class="invalid-feedback">
                      Please provide a valid date.
                    </div>
                  </div>                
                </div>
                <!-- <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="same-address">
                  <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="save-info">
                  <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div> -->
                <hr class="mb-4">

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="college">畢業學校</label>
                    <%= f.text_field :college, autofocus: true ,:class=>"form-control" , :required => true %>
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                      Name on card is required
                    </div>
                  </div>
                </div>

                <h4 class="mb-3">是否曾經接觸過程式語言</h4>

                <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                    <%= f.radio_button :programming, "programming_yes" ,:class=>"custom-control-input" ,:checked =>true,:required => true%>
                    <%= f.label :programming, "是" %>
                  </div>
                  <div class="custom-control custom-radio">
                    <%= f.radio_button :programming, "programming_no" ,:class=>"custom-control-input" ,:checked =>false,:required => true%>
                    <%= f.label :programming, "否" %>
                  </div>
                </div>
                <h4 class="mb-3">是否曾經接觸過Ruby on Rails</h4>
                <div class="d-block my-3">
                  <div class="custom-control custom-radio">
                    <%= f.radio_button :ror, "ror_yes" ,:class=>"custom-control-input" ,:checked =>false,:required => true%>
                    <%= f.label :ror, "是" %>
                  </div>
                  <div class="custom-control custom-radio">
                    <%= f.radio_button :ror, "ror_no" ,:class=>"custom-control-input" ,:checked =>true,:required => true%>
                    <%= f.label :ror, "否" %>
                  </div>
                </div>
                
                <hr class="mb-4">
                <div class="actions ">
                  <%= f.submit 'Update' ,:class =>"btn btn-primary btn-lg btn-block" %>
                </div>
                
              </form>
            </div>
          </div>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <% end %>
      </div>
     
      <%= link_to "Back", :back %>
    </div>
    
  </div>
  
  


</body>




    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <!-- <script src="../../../../dist/js/bootstrap.min.js"></script> -->
    <!-- <script src="../../../../assets/js/vendor/holder.min.js"></script> -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
