<p id="notice"><%= notice %></p>

<h1>Coursetextbooks</h1>

    <tr>
      <th>課程單元</th>
      <th colspan="3"></th>
    </tr>

    <% i=0 %>
    <% @course.coursetextbooks.each do |coursetextbook| %>
        <% i=i+1 %>
        <div class="ui segment">
          <td>Lesson <%=i%> : <%= link_to coursetextbook.title, course_coursetextbook_path(@course,coursetextbook)  %></td>
          <% if current_user.id == @course.user_id %>
            <td><%= link_to '編輯教材', edit_course_coursetextbook_path(@course,coursetextbook) %></td>
            <td><%= link_to "刪除教材", course_coursetextbook_path(@course, coursetextbook), method: :delete , data: { confirm: 'Are you sure?' }%></td>
           <% end %>
        </div>
       
    <% end %>
 

<br>
<% if current_user.id == @course.user_id %>
  <%= link_to '建立新教材', new_course_coursetextbook_path %>
  <% end -%>
<%= link_to '返回', courses_path %>
