<p id="notice"><%= notice %></p>

<h1>課程單元</h1>

<!-- <tr>
  <th>課程單元</th>
  <th colspan="3"></th>
</tr> -->

<% i=0 %>
<% @course.coursetextbooks.each do |coursetextbook| %>
    <% i=i+1 %>
    <div class="ui clearing segment">
      <p>Lesson <%=i%> : <%= link_to coursetextbook.title, course_coursetextbook_path(@course,coursetextbook)  %></p>
      <% if current_user.id == @course.user_id %>
         <div class=" ui right floated buttons">
            <td><%= link_to '編輯教材', edit_course_coursetextbook_path(@course,coursetextbook), :class => "ui red basic button" %></td>
            <td><%= link_to "刪除教材", course_coursetextbook_path(@course, coursetextbook), method: :delete , data: { confirm: 'Are you sure?' }, :class => "ui blue basic button"%></td>
         </div>
       <% end %>
    </div>
   
<% end %>

<h1>作業區</h1>
<% z=0 %>
<% @course.homeworks.each do |homework| %>
    <% z=z+1 %>
    <div class="ui clearing segment">
      <p>Lesson <%=z%> : <%= link_to homework.name, course_homework_path(@course,homework)  %></p>
      <% if current_user.id == @course.user_id %>
         <div class=" ui right floated buttons">
            <td><%= link_to '編輯作業', edit_course_homework_path(@course,homework), :class => "ui red basic button" %></td>
            <td><%= link_to "刪除作業", course_homework_path(@course, homework), method: :delete , data: { confirm: 'Are you sure?' }, :class => "ui blue basic button"%></td>
         </div>
       <% end %>
    </div>
   
<% end %>
 

<br>
<% if current_user.id == @course.user_id %>
  <h3><%= link_to 'New Lesson', new_course_coursetextbook_path %></h3>  
  <h3><%= link_to 'New Homework', new_course_homework_path %></h3>
<% end -%>
<%= link_to '返回', courses_path %>
