<div class="form container">
  <div class="row">
   <%= form_for [@course, @coursetextbook] do |f| %>
    <div class="form-group">
      Title:<%= f.text_area :title, placeholder: "主題", class: "form-control" %>
    </div>
    <div class="form-group">
      教材內容:<br><%= f.cktext_area :body, placeholder: "教材內容", class: "form-control" %>
    </div>
    <h4 class="mb-3">線上coding</h4>
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <%= f.radio_button :code, "Ruby" ,:class=>"custom-control-input" ,:checked =>false,:required => true%>
                  <%= f.label :code, "Ruby" %>
                </div>
                <div class="custom-control custom-radio">
                  <%= f.radio_button :code, "Ruby" ,:class=>"custom-control-input" ,:checked =>true,:required => true%>
                  <%= f.label :code, "不需要" %>
                </div>
              </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>
