 <%= notice %></p>
<p>
  <h1><strong><%= @coursetextbook.title %></strong></h1>
</p>

<p>
  <strong>Teacher</strong>
  <%= @coursetextbook.course.id %>
</p>

<p>
  <%=raw @coursetextbook.body %>
</p>
<% if @coursetextbook.code == "Ruby" %>
  <h1 style="font-style: italic;"><span style="background-color:#FFFFE0;">程式練習</span></h1>
  <p><iframe allowfullscreen="true" allowtransparency="true" frameborder="no" height="400px" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals" scrolling="no" src="https://repl.it/@z1z1z1joey/TurbulentGentleGraph?lite=true" width="100%"></iframe></p>
<% end %>





<% if current_user.id == @course.user_id %>
  <%= link_to '編輯教材', edit_course_coursetextbook_path(@course,@coursetextbook) %> 
<% end %>
<%= link_to '返回', course_coursetextbooks_path %>

<div class="ui comments">
  <h3 class="ui dividing header">留言板</h3>
  <% @coursetextbook.comments.each do |comment| %>
      <div class="comment">
        <div class="content">
          <a class="author"><%= comment.user.name %></a>
          <div class="metadata">
            <span class="date"><%= comment.created_at %></span>
          </div>
          <div class="text">
            <%= comment.content %>
<!--             <%= simple_format comment.content %>
 -->
          </div>
        </div>
      </div>

      <% if current_user.id == comment.user_id %>
        <div class="actions">
          <%= link_to "Delete", course_coursetextbook_comment_path(@coursetextbook,@course, comment), method: :delete , :class => "reply"%>
        </div>
      <% end %>
      <hr>
  <% end %>
  <div class="container">
    <div class="row">
     <%= form_for [@course,@coursetextbook, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
    </div>
  </div>
</div>

