<% @users.each do |user| %>
  <% if user.id == current_user.id %>
    <body class="bg-light">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">個人資料</a></li>
        <li><a data-toggle="tab" href="#menu1">學習歷程</a></li>
        <li><a data-toggle="tab" href="#menu2">個人作品集</a></li>
        <li><a data-toggle="tab" href="#menu3">個人筆記本</a></li>
        <li><a data-toggle="tab" href="#menu4">收藏</a></li>
        <li><a data-toggle="tab" href="#menu5">班級狀況</a></li>
      </ul>
      <br>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active "> 
          <h2>個人資料</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                 <!-- page-header 裡面顯示個人檔案資料 -->
                <div class="page-header">
                   <div class="col-md-3 col-sm-4">
                     <div class="text-center">
                       <%= image_tag user.avatar, class: "img-responsive img-rounded" %>
                     </div>
                   </div>

                   <div class="col-md-9 col-sm-8">
                     <h2><%= user.name %></h2>
                     <p><strong><%= user.email %></strong></p>        
                     <div>
                       <label for="sex">性別:<%= user_gender(user.sex) %></label>
                     </div>
                     <div>
                       <label for="email">Email:<%= user.email %></label>
                     </div>
                     <div>
                       <label for="birthday">生日:<%= user.birthday %></label>
                     </div>
                     <div>
                       <label for="college">畢業學校:<%= user.college %></label>
                     </div>                  
                     <div>
                        <% if user.email == current_user.email %>
                          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %>
                        <% end %>
                      </div>      
                   </div>
                  <div class="clearfix"></div>
                 </div>
                 <br>
                 <div class="row">
                  <div class="col-md-8 order-md-1">
                    <h3 class="mb-3">基本資料</h4>
                    
                    <div class="mb-3">
                      <h4 for="intro">自我介紹</h4>
                      <div><%= user.intro %></div> 
                    </div>
                    <br>
                    

                    <h4 class="mb-3">是否曾經接觸過程式語言</h4>
                    <%if  user.programming == "programming_yes" %>
                      <div>是</div>
                    <% else %>
                      <div>否</div>
                    <% end %>

                    <h4 class="mb-3">是否曾經接觸過Ruby on Rails</h4>
                    <%if  user.ror == "ror_yes" %>
                      <div>是</div>
                    <% else %>
                      <div>否</div>
                    <% end %>
                  </div>
                </div>
               </div>
          </div>
        </div>
        </div>             
        <div id="menu1" class="tab-pane fade left">
          <h2>學習歷程</h2>
          <table class="ui celled padded table">
            <thead>
              <tr><th class="single line">課程</th>
              <th>單完完成率</th>
              <th>作業完成率</th>
              <th>課程完成率</th>
              <th>留言次數</th>
              <th>學習狀態</th>
            </tr></thead>               
            <tbody>
              <% inx = 0%>
              <% @courses.each do |course| %>
                <% course_peoplecount = 0 %>
                <% course.courseregistions.each do |courseregistion| %>
                  <% course_peoplecount +=1 %>
                <% end %>
                  
                <% course.courseregistions.each do |courseregistion| %>
                  <% if courseregistion.user_id == current_user.id%> 
                    <%b1,e1,c1,f1,g1 = [0,0,0,0,0,0,0,0] %>              
                    <% a,b,c,d,e,f,g,h,i = [0,0,0,0,0,0,0,0,0] %>              
                    <% course.coursetextbooks.each do |coursetextbook| %> 
                      <% if coursetextbook.status == "公開"%>
                        <% a = a+1 %>
                        <% coursetextbook.finishcoursetextbooks.each do |finishcoursetextbook| %> 
                        <% b1 = b1+1%> 
                        <% if finishcoursetextbook.user_id == current_user.id%> 
                          <% b = b+1%>  
                        <% end %>               
                        <% end %> 
                        <% coursetextbook.comments.each do |comment| %>
                        <% i = i+1%>
                        <% if comment.user_id == current_user.id%> 
                          <% h = h+1%>
                        <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% course.homeworks.each do |homework| %>
                      <% d = d+1%>
                      <% homework.studenthomeworks.each do |studenthomework|%>
                        <% e1 = e1+1%>
                        <% if studenthomework.user_id == current_user.id%>
                          <% e = e+1%>
                        <% end %>
                      <% end %>               
                    <% end %>
                    <% if a==0 
                         a=1.0
                       end
                       if d==0 
                         d=1.0
                       end
                       if course_peoplecount ==0
                          course_peoplecount =1.0
                        end
                      c = (b.to_f/a)*100
                      f = (e.to_f/d)*100 
                      g = (((b+e).to_f)/(a+d))*100
                      %>
                    <%  c1 = (b1.to_f / (a*course_peoplecount))*100 
                        f1 = (e1.to_f / (d*course_peoplecount))*100 
                        g1 = (((b1+e1).to_f)/(a*course_peoplecount+d*course_peoplecount))*100
                    %>
                    <% inx =inx + 1%>                    
                    <tr>                     
                      <td><%= course.name%></td>
                      <td>       
                      <svg id="fillgaugeType1_<%= inx %>" width="100" height="100" onload="setChart(1,<%= inx %>,<%= c.round(2) %>)"></svg>
                      </td>         
                      <td>                      
                         <svg id="fillgaugeType2_<%= inx %>" width="100" height="100" onload="setChart(2,<%= inx %>,<%= f.round(2) %>)"></svg>
                      </td>
                      <td>
                        <svg id="fillgaugeType3_<%= inx %>" width="100" height="100" onload="setChart(3,<%= inx %>,<%= g.round(2) %>)"></svg>
                      </td>
                      <td><%= h %>/<%= i %></td>
                      <td><%
                              if g == nil
                                g =0
                              end
                              if g1 == nil
                                g1 =0
                              end
                              k = 0
                              if g == 100
                               k="恭喜完成課程！"
                              elsif g>g1
                                k="高於平均，繼續保持！"
                              elsif g==g1
                               k="同於平均，持續加油！"
                              else
                                k="低於平均，有待加強！"
                              end %><%= k%>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>     
        </div>

        <div id="menu2" class="tab-pane fade">
          <h2>個人作品集</h2>
          <table class="ui celled padded table">
            <thead>
              <tr><th class="single line">課程</th>
              <th>作業</th>
              <th>作業描述</th>
              <th>說明</th>
            </tr></thead>
            <tbody>
              <% @courses.each do |course| %>
                <% course.courseregistions.each do |courseregistion| %>
                  <% if courseregistion.user_id == current_user.id%>
                    <% course.homeworks.each do |homework| %>
                      <% homework.studenthomeworks.each do |studenthomework| %>
                        <% if studenthomework.user_id == current_user.id%>
                          <tr>
                            <td>
                              <h4 class="ui center aligned header"><%= course.name %></h4>
                            </td>
                            <td class="single line">
                              <%= link_to studenthomework.file_identifier, studenthomework.file_url if studenthomework.file? %>
                            </td>
                            <td>
                              <%= homework.description%>
                            </td>                      
                            <td>
                              <%= studenthomework.description%>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

        <div id="menu3" class="tab-pane fade ">
          <h2>個人筆記本</h2> 
          <table class="ui celled padded table">
            <thead>
              <tr>
                <th>課程名稱</th>
                <th>單元名稱</th>
                <th>創建時間</th>
                <th>內容</th>
              </tr>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
                <% course.courseregistions.each do |courseregistion| %>
                  <% if courseregistion.user_id == current_user.id%>
                    <% course.coursetextbooks.each do |coursetextbook| %>
                      <% coursetextbook.notes.each do |note| %>
                        <% if note.user_id == current_user.id%>
                          <tr>
                            <td>
                              <h4 class="ui center aligned header"><%= course.name %></h4>
                            </td>
                            <td>
                              <h4 class="ui center aligned header"><%= coursetextbook.title %></h4>
                            </td>
                            <td class="single line">
                              <%= note.created_at %>
                            </td>
                            <td>
                              <%=truncate( note.content, length: 15) %>...<%= link_to "繼續閱讀" ,course_coursetextbook_note_path(course,coursetextbook,note)%>
                              
                            </td>                      
                          </tr>
                        <% end%>
                      <% end %>
                    <% end %> 
                  <% end %>
                <% end %> 
              <%end%>    
            </tbody>
          </table>
        </div>

        <div id="menu4" class="tab-pane fade right">
          <h2>收藏作品集</h2>
          <table class="ui celled padded table">
            <thead>
              <th>課程</th>
              <th>作業</th>
              <th>分享人</th>
              <th>作業描述</th>
              <th>說明</th>
            </tr></thead>
            <tbody>
              <% user.favorited_studenthomeworks.each do |studenthomework| %>
                <tr>
                  <td>
                    <%= studenthomework.homework.course.name%>
                  </td>
                  <td class="single line">
                    <%= link_to studenthomework.file_identifier, studenthomework.file_url if studenthomework.file? %>
                  </td>
                  
                  
                  <td>
                    <%= studenthomework.user.name%>
                  </td>

                  <td>
                    <%= studenthomework.homework.description%>
                  </td>
                                       
                  <td>
                    <%= studenthomework.description%>
                  </td>
                </tr>
              <% end %>       
            </tbody>
          </table>
        </div>

        <div id="menu5" class="tab-pane fade left">
          <h2>班級狀況</h2>
          <table class="ui celled padded table">
            <thead>
              <tr><th class="single line">課程</th>
              <th>註冊人數</th>
              <th>單完平均完成率</th>
              <th>作業平均完成率</th>
              <th>課程平均完成率</th>
              <th>留言次數</th>
            </tr></thead>
            <tbody>
              <% inx1 = 1000 %>
              <% @courses.each do |course| %>
               <% course_peoplecount = 0 %>
               <% if course.user_id == current_user.id%>
                  <% course.courseregistions.each do |courseregistion| %>
                    <% course_peoplecount +=1 %>
                  <% end %>
                  
                  <% a1,b1,d1,e1,i1,c1,f1,g1 = [0,0,0,0,0,0,0,0] %>              
                  <% course.coursetextbooks.each do |coursetextbook| %> 
                    <% a1 = a1+1 %>
                    <% coursetextbook.finishcoursetextbooks.each do |finishcoursetextbook| %>                        
                      <% b1 = b1+1%>                                       
                    <% end %> 
                    <% coursetextbook.comments.each do |comment| %>
                      <% i1 = i1+1%>                        
                    <% end %>
                  <% end %>
                  <% course.homeworks.each do |homework| %>
                    <% d1 = d1+1%>
                    <% homework.studenthomeworks.each do |studenthomework|%>
                      <% e1 = e1+1%>
                    <% end %>               
                  <% end %>
                  
                  <% a_1 = a1*course_peoplecount
                    if a_1 ==0
                      a_1=1
                    end
                    d_1 = d1*course_peoplecount
                    if d_1 == 0
                      d_1=1
                    end%>
                  <%  c1 = (b1.to_f / a_1 )*100
                      f1 = (e1.to_f / d_1 )*100
                      g1 = (((b1+e1).to_f)/(a_1+d_1))*100
                  %>                  
                  <% inx1 =inx1 + 1%>                  
                  <tr>
                    <td><%= course.name%></td>
                    <td><%= course_peoplecount%></td>
                    <td>        
                      <svg id="fillgaugeType1_<%= inx1 %>" width="100" height="100" onload="setChart(1,<%= inx1 %>,<%= c1.round(2) %>)"></svg>
                    </td>         
                    <td>
                      <svg id="fillgaugeType2_<%= inx1 %>" width="100" height="100" onload="setChart(2,<%= inx1 %>,<%= f1.round(2) %>)"></svg>
                    </td>
                    <td>
                      <svg id="fillgaugeType3_<%= inx1 %>" width="100" height="100" onload="setChart(3,<%= inx1 %>,<%= g1.round(2) %>)"></svg>
                    </td>
                    <td><%= i1 %></td>
                  </tr>
               <% end %>
              <% end %>
            </tbody>
          </table>     
        </div>
      </div>
    </body>




        


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->



  <% end %>
<% end %>


