<table class="ui celled structured table">
  <thead>
    <tr>
      <th class="single line">課程名稱</th>
      <th>分享人</th>
      <th>檔案</th>
      <th>建立時間</th>
    </tr>
  </thead>
  <tbody>
    <% if @course.user_id != current_user.id%>
      <% count_a = 0 %>
      <% @course.coursereviews.each do |coursereview| %>
        <% if coursereview.status == "公開"|| coursereview.user_id == current_user.id%>
          <% count_a=count_a+1 %>
        <% end %>
      <% end %>
      <% if count_a != 0%>
       <tr>      
          <td rowspan="<%= count_a %>">
            <%= @course.name %>
          </td>          
            <% @course.coursereviews.each do |coursereview| %>
              <% if coursereview.status == "公開" || coursereview.user_id == current_user.id%>
                <td>
                  <h4 class="left right aligned">
                    <%= coursereview.user.name %></h4>
                </td>
                <td class="right aligned">
                  <%=raw truncate(coursereview.review, length: 15) %>...<%= link_to "繼續閱讀" ,course_coursereview_url(@course,coursereview)%>
                </td>
                <td class="right aligned">
                  <%= coursereview.created_at %>
                </td>                
              </tr>
            <% end %> 
          <% end %>
      <% end %> 
    <% else %>  
      <% count_b = 0 %>
      <% @course.coursereviews.each do |coursereview| %>
        <% count_b=count_b+1 %>       
      <% end %>
      <% if count_b != 0%>
       <tr>      
          <td rowspan="<%= count_b %>">
            <%= @course.name %>
          </td>          
            <% @course.coursereviews.each do |coursereview| %>              
              <td>
                <h4 class="left right aligned">
                  <%= coursereview.user.name %></h4>
              </td>
              <td class="right aligned">
                <%=raw truncate(coursereview.review, length: 15) %>...<%= link_to "繼續閱讀" ,course_coursereview_url(@course,coursereview)%>
              </td>
              <td class="right aligned">
                <%= coursereview.created_at %>
              </td>                
            </tr>
          <% end %>
      <% end %> 
    <% end %>
  </tbody>
</table>



<br>

<h4><%= link_to '返回', course_coursetextbooks_path %></h4>  
