 <%= notice %></p>
<p>
  <h1><strong><%= @homework.name %></strong></h1>
</p>

<p>
  <strong>範例檔案</strong>
  <%= link_to @homework.file_identifier, @homework.file_url if @homework.file? %>
</p>

<p>
  <%= raw @homework.description %>
</p>

<br>
<br>
<br>
<br>
<br>
<% if current_user.id == @course.user_id %>
  <%= link_to '編輯教材', edit_course_homework_path(@course,@homework) %> 
<% end %>
<%= link_to '返回', course_coursetextbooks_path %>
<hr>
<br>
<br>


<div class="ui comments">
  <h3 class="ui dividing header">作業繳交</h3>
  <div>
    <div id="studenthomeworklist">
      <% count = 0 %>
      <% @homework.studenthomeworks.each do |studenthomework| %> 
        <% if studenthomework.status == "公開" %> 
            <div id="studenthomework-<%= studenthomework.id %>">
              <% if current_user.id == studenthomework.user_id %>
                <% count =count+1%>  
                <div class="comment">
                  <div class="content">
                    <a class="author"><%= studenthomework.user.name %></a>
                    <div class="metadata">
                      <span class="date"><%= studenthomework.created_at %></span>
                    </div>
                    <div class="text">
                      <%= link_to studenthomework.file_identifier, studenthomework.file_url if studenthomework.file? %>
                      <%= studenthomework.description %>
                    </div>
                  </div>
                </div>
                
                <div class="actions">
                  <%= link_to "Delete", course_homework_studenthomework_path(@course,@homework, studenthomework) ,method: :delete , data: { confirm: 'Are you sure?' }, :remote => true %>
                </div>
                <hr>
              <% else %>
                <% if current_user.id != @course.user_id %>
                  <div class="comment">
                    <div class="content">
                      <a class="author"><%= studenthomework.user.name %></a>
                      <div class="metadata">
                        <span class="date"><%= studenthomework.created_at %></span>
                      </div>
                      <div class="text">
                        <%= link_to studenthomework.file_identifier, studenthomework.file_url if studenthomework.file? %>
                        <%= studenthomework.description %>
                        <%= render partial: "shared/favorite", locals: {studenthomework: studenthomework} %>

                      </div>

                      <hr>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
        <% end %>

        <% if @homework.course.user_id == current_user.id %>
          <div class="comment">
            <div class="content">
              <a class="author"><%= studenthomework.user.name %></a>
              <div class="metadata">
                <span class="date"><%= studenthomework.created_at %></span>
              </div>
              <div class="text">
                <%= link_to studenthomework.file_identifier, studenthomework.file_url if studenthomework.file? %>
                <%= studenthomework.description %>
                <%= render partial: "shared/favorite", locals: {studenthomework: studenthomework} %>

              </div>

              <hr>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if current_user.id != @course.user_id && count == 0%> 
  <div class="container" id="homework">
    <div class="row">
      <%= form_for [@course,@homework, @studenthomework] , { remote: true } do |f| %>
        <div class="form-group">
          <h4 class="mb-3">檔案上傳</h4>
          <%= f.file_field :file, class: "form-control" %>
        </div>
        <div class="form-group">
          <h4 class="mb-3">作業狀態</h4>
          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <%= f.radio_button :status, "公開" ,:class=>"custom-control-input" ,:required => true %>
              <%= f.label :status, "公開" %>
            </div>
            <div class="custom-control custom-radio">
              <%= f.radio_button :status, "不公開" ,:class=>"custom-control-input" ,:required => true %>
              <%= f.label :status, "不公開" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <h4 class="mb-3">說明</h4>
          <%= f.text_area :description, class: "form-control",:required => true %>
        </div>
        <div class="form-group">
          <%= f.submit "繳交" , class: "btn btn-primary" %>
          <%= f.button "取消", type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

