 <%= notice %></p>
<p>
  <h1><strong><%= @homework.name %></strong></h1>
</p>

<p>
  <strong>範例檔案</strong>
  <%= link_to @homework.file_identifier, @homework.file_url if @homework.file? %>
</p>

<p>
  <%= @homework.description %>
</p>





<% if current_user.id == @course.user_id %>
  <%= link_to '編輯教材', edit_course_homework_path(@course,@homework) %> 
<% end %>
<%= link_to '返回', course_coursetextbooks_path %>

<div class="ui comments">
  <h3 class="ui dividing header">作業繳交</h3>
  <div>
    <div id="studenthomeworklist">
      <% @homework.studenthomeworks.each do |studenthomework| %>   
          <div id="studenthomework-<%= studenthomework.id %>">
            <%= render partial: "shared/studenthomework", locals: {studenthomework: studenthomework} %>
          </div>
      <% end %>
    </div>
  </div>
  

  <div class="container">
    <div class="row">
     <%= form_for [@course,@homework, @studenthomework] , { remote: true } do |f| %>
      <div class="form-group">
        <%= f.file_field :file, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
    </div>
  </div>

