
<p id="notice"><%= notice %></p>

<h1>課程列表</h1>

<div class="ui three cards">
  <% @courses.each do |course| %>
    <div class="ui card">
      <div class="content">
        <div class="header"><%= course.name %></div>
      </div>
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <%= image_tag course.photo.url  if course.photo?%>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="content">
        <h4 class="ui sub header">課程說明</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <%= simple_format(course.description) %>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="extra content">
        <%= link_to '進入課程', course_coursetextbooks_path(course) , :class => 'ui button' %>
        <% if current_user.id == course.user_id %>
          <td><%= link_to '編輯', edit_course_path(course), :class => 'teal ui button' %></td>
          <td><%= link_to '', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to '註冊', :class => 'yellow ui button' %></td>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>



<h3><%= link_to 'New Course', new_course_path %></h3>
