
<p id="notice"><%= notice %></p>

<h1>課程列表</h1>

<div class="ui three cards">
  <% @courses.each do |course| %>
    <div class="ui card">
      <div class="content">
        <div class="header"><%= course.name %></div>
      </div>
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <%= image_tag course.photo.url  if course.photo?%>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="content">
        <h4 class="ui sub header">課程說明</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <%= simple_format(course.description) %>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="extra content">
        <%= render partial: "shared/courseregistion", locals: {course: course} %>          
      </div>
    </div>
    <br>
  <% end %>
</div>



<h3><%= link_to 'New Course', new_course_path %></h3>
