<p id="notice"><%= notice %></p>
<h1>課程列表</h1>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">全部課程</a></li>
  <li><a data-toggle="tab" href="#menu1">我是老師</a></li>
  <li><a data-toggle="tab" href="#menu2">我是學生</a></li>
</ul>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active "> 
    <br>   
    <div class="ui three cards "  id="mainn">
      <% @courses.each do |course| %>
        <% if course.status == "公開" %>
           <div id="course-<%= course.id %>" class="ui card">
             <%= render partial: "index", locals: {course: course} %> 
           </div>
        <% end %>
        <br>
      <% end %>
    </div> 
  </div>
  <div id="menu1" class="tab-pane fade left">
    <br>   
    <div class="ui three cards"  id="mainn">
      <% @courses.each do |course| %>
        <% if course.user_id == current_user.id%>
          <div id="course-<%= course.id %>" class="ui card">
            <%= render partial: "index", locals: {course: course} %>
          </div>
        <% end %>
        <br>
      <% end %> 
    </div>
    <h3><%= link_to 'New Course', new_course_path %></h3>
  </div>
  <div id="menu2" class="tab-pane fade">
    <br>   
    <div class="ui three cards"  id="mainn">
      <% @courses.each do |course| %>
        <% if course.is_courseregisted?(current_user)%>
          <div id="course-<%= course.id %>" class="ui card">
            <%= render partial: "index", locals: {course: course} %>
          </div>
        <% end %>
        <br>
      <% end %> 
    </div>
  </div>
</div>

<script>
// $(document).ready(function() {
  

 //  $("#teacher").click(function () { 
 // console.log("Button is clicked");
 // var input =document.createElement("div");
 // input.innerHTML = "<%= j render partial: "teacherindex", locals: {course: @course} %>";
 // $("#mainn").remove();
 // $("#courselist").append(input);
 //  })

 //  $("#student").click(function () { 
 // console.log("Button is clicked");
 // var input =document.createElement("div");
 // input.innerHTML = "<%= j render partial: "studentindex", locals: {course: @course} %>";
 // $("#mainn").remove();
 // $("#courselist").append(input);
 //  })

 // $("#all").click(function () { 
 // console.log("Button is clicked");
 // var input =document.createElement("div");
 // input.innerHTML = "<%= j render partial: "allindex", locals: {course: @course} %>";
 // $("#mainn").remove();
 // $("#courselist").append(input);
 //  })
</script>

