<!DOCTYPE html>
<html>
  <head>
    <title>Onlinelearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    
    <script>
      var w = 350;
      var _w = $(window).width();
      $(function(){
      if(_w <= 480){
      var ifrs = document.getElementsByTagName('iframe');
      for(var i=0;i<ifrs.length;i++){
      var ifr = ifrs[i];
      var a = ifr.src;
      if(a.indexOf('https://www.facebook.com/') == -1) continue;
      var b = a.indexOf('&width=');
      var c = a.substring(0, b + 7);
      var d = c + w;
      ifr.src = d;
      ifr.width = w;
      }
      }
      });
    </script> 
    <style type="text/css">
      body {
        background-color: #FAFAFA;
        height: 100%;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
      .hidden.menu {
        display: none;
      }

      .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
      }
      .masthead .logo.item img {
        margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }
      .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }
      .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
      }

      .ui.vertical.stripe {
        padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
        font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
        clear: both;
      }
      .ui.vertical.stripe p {
        font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }

      .quote.stripe.segment {
        padding: 0em;
      }
      .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
      }

      .footer.segment {
        padding: 5em 0em;
      }

      .secondary.pointing.menu .toc.item {
        display: none;
      }

      @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
          display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
          display: none;
        }
        .secondary.pointing.menu .toc.item {
          display: block;
        }
        .masthead.segment {
          min-height: 350px;
        }
        .masthead h1.ui.header {
          font-size: 2em;
          margin-top: 1.5em;
        }
        .masthead h2 {
          margin-top: 0.5em;
          font-size: 1.5em;
        }
      }
      @media (max-width: 800px) {
          iframe[src *= "youtube"]{
              max-width:400px;
              height: 210px;
          }
      }
    </style>
  </head>

  <body>
    <div class="ui large top fixed menu transition hidden">
      <div class="ui container">
        <!-- <a class="navbar-brand" href="/courses">程式教學平台</a> -->
        <%= link_to('程式教學平台', "courses#index", method: :delete ,:class=>"navbar-brand") %> 
        <a class="active item">課程瀏覽</a>
        <a class="item">起源</a>
        <a class="item" href="/share_learns">學習分享</a>
        <div class="right menu">
          <% if current_user %>
            <div class="item">
              Hi, <%= current_user.name %>
            </div>
            <div class="item">
              <%= link_to('登出', destroy_user_session_path, method: :delete ,:class=>"ui primary button") %> 
            </div>
            <div class="item">
               <%= link_to('個人學習', users_path, :class=>"ui button") %>
            </div>
            <!-- <div class="item">
               <%= link_to 'Profile', user_path(current_user), :class=>"ui button" %>
            </div> -->
          <% else %>
            <div class="item">
              <%= link_to('註冊', new_user_registration_path, :class=>"ui primary button") %>
            </div>
            <div class="item">
               <%= link_to('登入', new_user_session_path, :class=>"ui button") %>
            </div>                
          <% end %>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui left vertical inverted sidebar menu ">
      <a class="navbar-brand" href="/courses">程式教學平台</a>
      <a class="active item">課程瀏覽</a>
      <a class="item">起源</a>   
      <a class="item" href="/share_learns">學習分享</a>
      <% if current_user %>
        <div class="item">
          Hi, <%= current_user.sex %>
        </div>
        <div class="item">
          <%= link_to('登出', destroy_user_session_path, method: :delete ,:class=>"ui primary button") %> 
        </div>
        <div class="item">
           <%= link_to('個人學習', users_path, :class=>"ui button") %>
        </div>
      <% else %>
        <div class="item">
          <%= link_to('註冊', new_user_registration_path, :class=>"ui primary button") %>
        </div>
        <div class="item">
           <%= link_to('登入', new_user_session_path, :class=>"ui button") %>
        </div>                
      <% end %>      
    </div>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical center aligned segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <a class="header item" href="/courses">程式教學平台</a>
            <a class="active item">課程瀏覽</a>
            <a class="item" >起源</a>
            <a class="item" href="/share_learns">學習分享</a>
            <div class="right item">
              <% if current_user %>
                <div class="item">
                  Hi, <%= current_user.name %>
                </div>
                <div class="item">
                  <%= link_to('登出', destroy_user_session_path, method: :delete ,:class=>"ui inverted button") %> 
                </div>
                <div class="item">
                   <%= link_to('個人學習', users_path, :class=>"ui inverted button") %>
                </div>
                <!-- <div class="item">
                   <%= link_to 'Profile', user_path(current_user), :class=>"ui inverted button" %>
                </div> -->
              <% else %>
                <div class="item">
                  <%= link_to('註冊', new_user_registration_path, :class=>"ui inverted button") %>
                </div>
                <div class="item">
                   <%= link_to('登入', new_user_session_path, :class=>"ui inverted button") %>
                </div>                
              <% end %>
            </div>
          </div>
        </div>        
      </div>
      <div class="ui vertical stripe segment container">
        <%= yield %>
      </div>  
    </div>
    <div></div>  
    <div class="ui inverted vertical footer segment">
         <center> Copyright © 2018   |  NTUST. SIS-LAB. </center>
    </div>

  </body> 
</html>
